.event {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    background-color: transparent;
    overflow-y:auto;
}

.event.active {
    font-weight: bold;
}

.event:hover {
    cursor: default;
}